.medicine-list {
  background-color: #1a011a78;
  width: 80%;
  border-radius: 20px;

  height: 60vh;
  overflow: scroll;
  margin-left: 10vw;
  margin-top: 2vh;
}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  color: black;
  margin-top: 10px;
  border-radius: 10px;
}
